<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <h2>OUR MENTORS</h2>
        <p>
          Our visionary guiding lights believe that in education lies the
          biggest service to the individual, nation, humanity and the world
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <img src="../../assets/puppy.jpg" alt="" />
              <div class="card-info">
                <h3>Chairman</h3>
                <!-- <span class="orange">9.8</span> -->
              </div>
              <div class="overview">
                <h3>Overview</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam
                rerum asperiores mollitia totam tempora? Quasi odit id
                cupiditate officiis autem!
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <img src="../../assets/puppy.jpg" alt="" />
              <div class="card-info">
                <h3>Principal</h3>
                <!-- <span class="orange">9.8</span> -->
              </div>
              <div class="overview">
                <h3>Overview</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam
                rerum asperiores mollitia totam tempora? Quasi odit id
                cupiditate officiis autem!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h2>Latest News</h2>
        <div class="news-inner">
          <ul class="nav nav-tabs justify-content-around">
            <button class="nav-item" (click)="onClickedNav('events')" #events>
              <a class="nav-link">Events</a>
            </button>
            <button class="nav-item" (click)="onClickedNav('news')" #news>
              <a class="nav-link">News</a>
            </button>
            <button
              class="nav-item"
              (click)="onClickedNav('olympiad')"
              #olympiad
            >
              <a class="nav-link">Olympiad</a>
            </button>
          </ul>
          <div class="tab-content">
            <div class="events-content" #eventsContent>
              <ul class="no-bullets">
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    events Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    events Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    events Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
              </ul>
            </div>
            <div class="news-content active" #newsContent>
              <ul class="no-bullets">
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    news Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    news Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    news Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
              </ul>
            </div>
            <div class="olympiad-content" #olympiadContent>
              <ul class="no-bullets">
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    olympiad Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    olympiad Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
                <li>
                  <i class="fas fa-check-square"></i>
                  <span>
                    olympiad Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quaerat, facere.
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
