.wrapper {
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
}

.top-header {
  background-color: #85dcbb;
  border-top: 2px solid #e27d60;
  color: black;
  font-size: 12px;
  padding-bottom: 13px;
  padding-top: 13px;
}

.item {
  display: inline-block;
  padding-right: 26px;
  padding-left: 20px;
  line-height: 1;
  border-right: 1px solid black;
  font-size: medium;
}

.citme {
  display: inline-block;
}

.header-inner:before {
  content: "";
  width: 100%;
  background: #ffffff;
  height: 52px;
  position: absolute;
  top: 5px;
  right: 100%;
  transform: skew(45deg, 0);
}

.header-inner:after {
  content: "";
  width: 100%;
  background: #ffffff;
  height: 52px;
  position: absolute;
  top: 5px;
  left: 100%;
  transform: skew(-45deg, 0);
}

.header-mid .container {
  position: relative;
  padding-left: 50px;
}

.header-mid .container h1 {
  transform: translateY(10%);
  margin: auto;
  display: inline-block;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.header-mid .container img {
  height: 100px;
}

.header-mid .container img.ssa {
  height: 50px;
  position: absolute;
  right: 0;
}
