<div class="wrapper">
  <header>
    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="header-inner">
              <div class="item">9999999999</div>
              <div class="item">principal@gov.edu</div>
              <div class="item">
                <button>Admission</button>
                2021-2022 Open
              </div>
              <div class="item">
                <a href="#"> Alumni </a>
              </div>
              <div class="item">
                <a href="#"> contact us </a>
              </div>
              <div class="item">
                <a href="#"> Gallery </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-mid">
      <div class="container">
        <h1>Govt Sr Secondary School</h1>
        <img src="../../assets/logo.png" alt="" />
      </div>
    </div>
  </header>
</div>
<app-imageslider></app-imageslider>
<router-outlet></router-outlet>
